@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar-nav {
  font-size: 1.2rem;
}


.customNav .navbar-nav a {
  margin: 0 25px;
  font-weight: bold;
  text-decoration: none;
  
}

.navbar_list {
  font-weight: 500;
  margin-top: 27px !important;
font: normal normal 300 21px/25px Work Sans;
letter-spacing: 0px;
color: #9A9999;
opacity: 1;
  /* background: transparent url('../assets//Group\ 4.svg') 0% 0%  no-repeat padding-box ; */
  opacity: 1;



}
#navbarScrollingDropdown{
/* font: normal normal 500 21px/25px Work Sans; */
letter-spacing: 0px;
color: #9A9999;
opacity: 1;
/* background: transparent url('../assets/Group\ 5.svg') -10% 10px   no-repeat padding-box; */
opacity: 1;

}

/* .navbar_link_selected:hover{
  background: #7958D7;

} */


.btn{
  background-color: #7958D7;
  color: white;
/* font: normal normal normal 21px/25px Work Sans; */
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.logo {
   font-size: 110px;
  width: 35mm;
   font-weight: 900; 
  
/* background: transparent url('../assets/Logo.svg') 0% 0% no-repeat padding-box; */
width: 45mm;

opacity: 1;
}



.nav-links li a:hover{
    background: #7958D7;
    symbols: "|";
}
.mega-box{
    position: absolute;
    left: 110;
    width: 70%;
    /* padding: 0 30px; */
    /* top: 100px; */
    opacity: 0;
    visibility: hidden;
}
.nav-links li:hover  .mega-box {
    transition: all 0.7s;
    /* top: 100px; */
    opacity: 1;
    visibility: visible;
}

.contentes {
    /* border: 10px; */

    padding: 12px 120px 10px 20px  ;
    display: flex;
    /* width: 40%; */
    /* justify-content: space-between; */
    top: 149px;
/* left: 1137px; */
width: 404px;
/* height: 242px; */
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 4px;
/* color: #7958D7; */
opacity: 1;
}
.main{
    /* width: 25px; */
    line-height: 30px;
}

.main p {
    /* color: #fff; */
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.mega-links {
font: normal normal 500 21px/25px Work Sans;

    margin-left: -20px;
    border-left: 1px solid #000000;
}

.mega-links li {
    padding: 0 10px;
}

.mega-links li a{
    padding: 0 20px;
    color: #9A9999;
    font-size: 17px;
    display: inline-block;
    width: 80%;
}

.justify-content-end{
  margin-top: 20px;
}

